body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1517649763962-0c623066013b');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 60px;
}

button {
    background: orange;
    color: black;
    border: none;
    padding: 12px 25px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}

button:hover {
    background: white;
}

.card {
    padding: 60px;
    text-align: center;
}

.program-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.program-box {
    background: #222;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

select {
    padding: 10px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: orange;
}

footer {
    background: black;
    text-align: center;
    padding: 20px;
}
